[submodule "ocaml-bc"]
	path = ocaml-bc
	url = https://github.com/KaytonFletcher/ocaml-bc.git
[submodule "inline-bc"]
	path = inline-bc
	url = https://github.com/KaytonFletcher/inline-bc.git
[submodule "visitor-bc"]
	path = visitor-bc
	url = https://github.com/KaytonFletcher/visitor-bc.git
